<footer class="footer textcolor" id="upperremove">
    <div class="container">
        <nav class="pull-left">
        <ul>
            <li>
            <a href="https://hanyang.ac.kr">
                Hanyang University
            </a>
            </li>
            <li>
            <a href="/">
                Flying Whales
            </a>
            </li>
            <li>
            <a href="/">
                AUSG
            </a>
            </li>
            <li>
            <a href="/">
                Forever
            </a>
            </li>
        </ul>
        </nav>
        <div class="copyright pull-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with
        <i class="material-icons">favorite</i> by
        <a href="https://www.whitesoil.co.kr" target="_blank">Creative Seon</a> for a better cloud.
        </div>
    </div>
</footer>